@page "{id:int}"
@model lmsextreg.Pages.Enrollments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProgramEnrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProgramEnrollment.ApproverUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramEnrollment.ApproverUserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProgramEnrollment.UserCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramEnrollment.UserCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProgramEnrollment.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramEnrollment.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProgramEnrollment.UserLastUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramEnrollment.UserLastUpdated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProgramEnrollment.DateLastUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramEnrollment.DateLastUpdated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProgramEnrollment.LMSProgram)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramEnrollment.LMSProgram.LongName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ProgramEnrollment.LMSProgramID" />
        <input type="hidden" asp-for="ProgramEnrollment.StudentUserId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
