@page
@model lmsextreg.Pages.Enrollments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h3>Programs Enrollments for @Model.LoggedInUser.FullName:</h3>

<p>
    <a asp-page="Create">Create New Enrollment</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramEnrollment[0].LMSProgram)
                </th>     
                <th>
                    @Html.DisplayNameFor(model => model.ProgramEnrollment[0].EnrollmentStatus)
                </th>                       
                <th>
                    @Html.DisplayNameFor(model => model.ProgramEnrollment[0].UserCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProgramEnrollment[0].DateCreated)
                </th>
                <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProgramEnrollment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LMSProgram.LongName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentStatus.StatusName)
            </td>                    
            <td>
                @Html.DisplayFor(modelItem => item.Learner.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
